# Directories
build/

# Visual Studio Files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
.vs/

# Makefiles
Makefile
**.make

# user-generated stuff
compile_commands.json
compile_commands/
.cache/
.clangd
